
dist/
node_modules/
logs/
.config.json
.electronflow*
.sessions.json
.DS_Store
.env
.env.local
html/common
html/renderers
# This shouldn't exist
html/main
.vs/
obj/
package-lock.json
!ni-gpib/node-addon-driver/dist
