body {
  height: 95vh;
  width: 100vw;
}

.session-view-container {
  height: 100%;
  width: 100%;
}

.row-config-status {
  position: relative;
}

.row-results {
  position: relative;
  top: 10px;
  min-height: 200px;
}

.row-logs {
  position: relative;
  top: 10px;
}

#vc-results-tabulator {
  min-height: calc(10px - 40%);
}

.row {
  margin: 5px;
}

.top-card {
  min-height: 432px;
}

.card-bottom {
  min-height: 350px;
  max-height: 350px;
}

select {
  height: 30px;
}

#vc-comm-interface-log {
  max-height: 250px;
}

.tabulator-table {
  min-height: 75px;
}

.design-visible {
  border-width: 1px;
  border: dashed;
  border-color: grey;
}

