html, body {
  height: 99vh;
  overflow: hidden;
}

body {
  margin: 3px;
  background-color: rgb(154,154,154);
}

.view-block {
  background-color: rgb(112,112,112);
}

.top-row-block {
  width: 33.333333333%;
}

.scrollable-block {
  overflow-y: auto;
}

#user-instruction-input-modal-image {
  max-width: 75%;
  max-height: 75%;
}

.modal-content {
  background: gray!important;
}

